*{
    padding:1%;
    margin:0%;
    box-sizing: border-box;
}

html{
    font-size: 150%;
}

.contenedor{
    display: grid;
    grid-template-columns: 30rem;
    grid-template-areas: "image myprofile"
                    "socialmedia lastjob"
                    "mystudies myskills"; 
    background-color: azure;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 33.33vh 33.33vh 33.33vh;
}

.item{
    width: 10rem;
    height: 10rem;
    background-color: rgb(158, 55, 55);
    font-size: 2.4rem;
    border: 100rem solid khaki;
    outline: 10rem solid khaki;
}

.image{
    grid-area: image;
}

.myprofile{
    grid-area: myprofile;
}

.socialmedia{
    grid-area: socialmedia;
}

.lastjob{
    grid-area: lastjob;
}

.mystudies{
    grid-area: mystudies;
}

.myskills{
    grid-area: myskills;
}
